@font-face
  font-family: "Mona Sans"
  src: url("./assets/fonts//Mona-Sans.woff2") format("woff2 supports variations"), url("./assets/fonts//Mona-Sans.woff2") format("woff2-variations"), url("./assets/fonts//Mona-Sans.woff") format("woff-variations"), url("./assets/fonts//Mona-Sans.ttf") format("truetype-variations")
  font-weight: 200 900
  font-stretch: 75% 125%
  font-display: swap

:root, html, body
  overflow: hidden
  height: fit-content
  margin: 0px

  width: 100%
  height: 100%

  *
    font-family: Mona Sans

#root
  font-size: 16px

  width: 100%
  height: 100%
  display: flex
  flex-direction: row

  user-select: none
  border-radius: 9px
  background-color: black
  color: white
  overflow: hidden

.cover
  height: 100%
  aspect-ratio: 1
  user-select: none

.content
  user-select: none
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: space-between
  width: 100%
  max-width: calc(350px - 100vh)

  .info
    width: calc(100% - 2*6px)
    display: flex
    flex-direction: column
    padding: 6px

    span
      width: fit-content
      text-align: left
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

    .title
      font-size: 14px
    .subtitle
      font-size: 12px
      color: #b3b3b3

  .info.width-calculated
    span
      max-width: 98%

  .controls-container
    user-select: none
    margin-bottom: 10px
    width: 100%

    display: flex
    align-items: center
    justify-content: center